# Exploración de las semanas del año con semanas con quincena

In [2]:
import pandas as pd

In [3]:
time_dim = pd.read_csv('./fact_constellation_schema/dim_tiempo.csv')

In [4]:
time_dim.sample()

,id_tiempo,anio,trimestre,mes,semana_mes,semana_anio,dia_semana,dia,hora,minuto
228475,202210021730,2022,4,10,1,39,Domingo,2,17,30

In [9]:
time_dim_filtered = time_dim[time_dim['minuto'] != 99][['anio', 'mes', 'dia', 'semana_anio', 'semana_mes', 'dia_semana']].drop_duplicates()
time_dim_filtered.to_csv('./fact_constellation_schema/dim_tiempo_filtrada.csv', index=False)

In [10]:
time_dim_filtered

        anio  mes  dia  semana_anio  semana_mes dia_semana
4944    2019    1    1            1           1     Martes
5065    2019    1    2            1           1  Miércoles
5227    2019    1    3            1           1     Jueves
5390    2019    1    4            1           1    Viernes
5548    2019    1    5            1           1     Sábado
...      ...  ...  ...          ...         ...        ...
303258  2023   12   27           52           5  Miércoles
303403  2023   12   28           52           5     Jueves
303550  2023   12   29           52           5    Viernes
303705  2023   12   30           52           5     Sábado
303833  2023   12   31           52           5    Domingo

[1826 rows x 6 columns]